{% extends "layout.html" %}

{% block title %}Add Test Records{% endblock %}

{% block main %}

<section class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul class="breadcrumb">
            <li><a class="text-primary" href="/home">Home</a></li>
            <li><a class="text-primary" href="/testrecords">Test Records</a></li>
            {% if id %}
            <li><a class="text-primary" href="/students">Students</a></li>
            {% endif %}
            <li class="active">Add Test Records</li>
            </ul>
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="record-table-container panel panel-default">
                <table class="table table-bordered table-condensed" id="studentsTable" style="background:white;">
                    <thead>
                        <tr class="success">
                            <th class="">St. ID</th>
                            <th class="">Date</th>
                            <th class="">Subject</th>
                            <th class="">Description</th>
                            <th class="">Total Marks</th>
                            <th class="">Obtd Marks</th>
                            <th class="">Remarks</th>
                            <th class="text-center">Submit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in range(i) %}
                        <tr class="">
                            <form id="recordForm{{x}}" class="test-record-form" method="post">
                            <td class="col-md-1">
                                {% if id %}
                                <input class="form-control c-p" name="studentID" type="text" value="{{ id }}" placeholder="St. ID">
                                {% else %}
                                <input class="form-control c-p" name="studentID" type="text" value="" placeholder="St. ID">
                                {% endif %}
                            </td>
                            <td class="">
                                <input class="form-control c-p" name="date" type="date" value="" placeholder="Date">
                            </td>
                            <td class="">
                                <input class="form-control c-p" name="subject" type="text" value="" placeholder="Subject">
                            </td>
                            <td class="">
                                <input class="form-control c-p" name="description" type="text" value="" placeholder="Description">
                            </td>
                            <td class="col-md-1">
                                <input class="form-control c-p" name="totalmarks" type="text" value="" placeholder="Total Marks">
                            </td>
                            <td class="col-md-1">
                                <input class="form-control c-p" name="obtainedmarks" type="text" value="" placeholder="Obtained Marks">
                            </td>
                            <td class="">
                                <input class="form-control c-p" name="remarks" type="text" value="" placeholder="Remarks">
                            </td>
                            <td class="text-center">
                                <input class="btn btn-warning c-p" type="Submit" value="Submit">
                            </td>
                            </form>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<script>
$(document).ready(function () {
$(".test-record-form").on("submit", function(e) {
    e.preventDefault();
    addNewTestRecord($(this)[0], $(this).attr("id"))
});

function addNewTestRecord(form, formID) {
    var form_data = new FormData(form);

    $.ajax({
        type: 'POST',
        url: '/addnewtestrecord',
        data: form_data,
        contentType: false,
        processData: false,
        dataType: 'json'
    }).done(function(data, textStatus, jqXHR){
        console.log(data);
        console.log(textStatus);
        console.log(jqXHR);
        console.log('Success!');
        if (data[0]["status"] == "error") {
            $("#" + formID).parent().addClass("danger");
        } else if (data[0]["status"] == "success") {
            $("#" + formID).parent().removeClass("danger");
            $("#" + formID).parent().find("input[type='Submit']").removeClass("btn-warning");
            $("#" + formID).parent().find("input[type='Submit']").addClass("btn-default");
            $("#" + formID).parent().find("input[type='Submit']").addClass("btn-xs");
            $("#" + formID).parent().find("input[type='Submit']").val("Submitted");
            $("#" + formID).parent().find("input").attr("disabled", "true");
        }
    }).fail(function(data){
        console.log("ERROR:");
    });
}

if (window.innerWidth < 760){
    $(".record-table-container").addClass("table-responsive");
    $(".record-table-container").css("min-height", "220px;");
}
});
</script>

{% endblock %}