{% extends "layout.html" %}

{% block title %}All Fee Records{% endblock %}

{% block main %}

<section class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul class="breadcrumb">
            <li><a class="text-primary" href="/home">Home</a></li>
            <li><a class="text-primary" href="/feerecords">Fee Records</a></li>
            <li class="active">All Fee Records</li>
            </ul>
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="record-table-container">
                <table class="table table-bordered table-striped" id="feeRecordsTable" style="background:white;">
                    <thead>
                        <tr class="success">
                            <th class="text-right">Rd. ID</th>
                            <th class="text-right">St. ID</th>
                            <th class="">Student Name</th>
                            <th class="">Father Name</th>
                            <th class="">Date</th>
                            <th class="">Fee For</th>
                            <th class="">Deposited Fee</th>
                            <th class="">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in records %}
                        <tr class="">
                            <td class="text-right">{{ record["id"] }}</td>
                            <td class="text-right">{{ record["studentID"] }}</td>
                            <td class=""><a href="/studentprofile/{{ record['studentID'] }}" class="text-primary">{{ record["studentName"] }}</a></td>
                            <td class="">{{ record["studentFrName"] }}</td>
                            <td class="col-md-2">{{ record["date"] }}</td>
                            <td class="">{{ record["feefor"] }}</td>
                            <td class="">{{ record["depositedfee"] }}</td>
                            <td class=""><a href="/downloadfeereceipt/{{ record['id'] }}" class="btn btn-primary btn-xs" target="_blank" title="Download"><i class="fa fa-download" aria-hidden="true"></i></a>&nbsp;&nbsp;
                            {% if g.role == "root" %}
                            <a href="/editfeerecord/{{ record['id'] }}" class="btn btn-primary btn-xs" title="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                            {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<script>
$(document).ready(function () {
$('#feeRecordsTable').DataTable({
    paging: true,
    searching: true,
    info: true
});
if (window.innerWidth < 760){
    $(".record-table-container").addClass("table-responsive");
    $(".record-table-container").css("min-height", "220px;");
}
});
</script>

{% endblock %}